<h1>登录</h1>
<p>请回答以下问题</p>
<% if(message && message.length > 0) {%>
  <div class="alert alert-info">
    <button class="close" data-dismiss="alert">&times;</button>
    <strong>提示</strong><%- message %>
  </div>
<%}%>
<form action="/login.do" method="POST">
  <div class="control-group">
    <span class="help-block">用户名:</span>
    <input name="name" type="text" class="span3" placeholder="" />
    <div class="control">
      <span class="help-block">密码:</span>
      <input name="pass" type="password" class="span3" placeholder=""/>
    </div>
  </div>
  <div class="control-group">
    <label class="checkbox">
      <input type="checkbox" name="remeber"> 记住我
    </label>
  </div>
  <input type="hidden" name="_csrf" value="<%- _csrf %>" />
  <input type="submit" class="btn btn-success" value="提交" />
</form>
<p>建议使用<a href="http://google.com/chrome" target="_blank">Chrome浏览器</a></p>
<script>
$('.nav').hide();
</script>