<div id='content'>
    <div class='panel'>
      <legend>更新通讯录信息</legend>
      <div id="info"></div>
        <div class='inner'>
            <% if(locals.message){ %>
            <div class="alert alert-error"> 
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong><%- message %></strong>
            </div>
            <% } %>
            <form id='setting_form' class='form-horizontal' action='/update.do' enctype="multipart/form-data" method='post'>
                <div class='control-group'>
                    <label class='control-label' for='name'>姓名</label>
                    <div class='controls'>
                        <input class='readonly' id='name' name='name' size='30' type='text' placeholder="尊姓大名" value="<%- data.name %>"/>
                            <span class="help-block">请填写中文全称，不要用火星文</span>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='email'>学号</label>
                    <div class='controls'>
                        <input class='readonly' id='id' name='id' size='30' type='text' readonly='true' value="<%- data.id %>"/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='birthday'>电话号码</label>
                    <div class='controls'>
                        <ul class="unstyled" name="tel">
                          <% if(!data.tel) {%>
                            <% data.tel = [];%>
                            <li>
                              <input name="tel" type="text" class="span3" placeholder="电话号码" onkeyup="value=value.replace(/[^\d]/g,'')"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" />    
                            </li>
                          <%}%>
                          <%for(var i = 0 , l = data.tel.length; i < l; i++){%>
                            <li>
                              <input name="tel" type="text" class="span3" placeholder="电话号码" value="<%- data.tel[i][0] %>"onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" />    
                            </li>
                            <span class="help-block"></span>
                          <%}%>
                        </ul>
                        <button class="btn btn-info" type="button" onclick="addTelRow();">添加</button>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='phone'>微博</label>
                    <div class='controls'>
                        <input class='readonly' id='weibo' name='weibo' size='30' type='text' placeholder="微博" value="<%- data.weibo %>"/>
                        <span class="help-block">没有可不填，如果有，请直接填微博名</span>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='address'>目前所在城市</label>
                    <div class='controls'>
                        <input class='readonly' id='location' name='location' size='30' type='text' placeholder="目前所在城市" value="<%- data.location %>"/>
                        <span class="help-block">可不填，但是建议填，方便蹭饭</span>
                    </div>
                </div>          
                <input type='hidden' name='_csrf' value='<%- _csrf %>' />
                <div class='form-actions'>
                    <input type='submit' class='btn btn-success' value='保存设置' />
                    <% if(locals.data.name){%>
                      <% if(!locals.data.hidden || locals.data.hidden === false){%>
                        <button class='btn' id='hidden' onClick="hidden_contact();">隐藏通讯录</button>
                      <%} else {%>
                        <button class='btn' id='hidden' onClick="public_contact();">公开通讯录</button>
                      <%}%>
                    <%}%>
                </div>                    
                </div>
            </form>
        </div>
    </div>  
    <div class='sep10'></div>
    <div class='panel'>
        <div class='inner'>
          <legend>修改密码</legend>
            <div class='sep10'></div>
            <form id='change_pass_form' class='form-horizontal' action='/user/resetpass.do' method='post'>
                <div class='control-group'>
                    <label class='control-label' for='old_pass'>当前密码</label>
                    <div class='controls'>
                        <input class='' type='password' id='old_pass' name='old_pass' size='30' />
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='new_pass'>新密码</label>
                    <div class='controls'>
                        <input class='' type='password' id='new_pass' name='new_pass' size='30' />
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='re_new_pass'>确认新密码</label>
                    <div class='controls'>
                        <input class='' type='password' id='re_new_pass' name='re_new_pass' size='30' />
                    </div>
                </div>
                <input type='hidden' id='action' name='action' value='change_password' />
                <input type='hidden' name='_csrf' value='<%- _csrf %>' />
                <div class='form-actions'>
                    <input type='submit' class='btn btn-success' value='更改密码' />
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
var stat = "ready";
var _csrf = $("input[name='_csrf']")[0].value;
  function addTelRow(){
    var ul = document.getElementsByClassName('unstyled')[0];
    var li = document.createElement('li');
    li.innerHTML = '<input name=\'tel\' type=\"text\" class=\"span3\" placeholder=\"电话号码\" onkeyup=\"this.value=this.value.replace(/[^\\d]/,\'\')\" />';
    ul.appendChild(li);
  }
  function show_alert(node,alert){
    $(node).after('<div class="alert alert-block alert-error fade in"><a class="close" data-dismiss="alert" href="#">&times;</a><strong>警告！</strong>'+alert+'</div>');
  }
  function show_info(node, info){
     $(node).after('<div class="alert alert-block alert-info fade in"><a class="close" data-dismiss="alert" href="#">&times;</a><strong>提示！</strong>'+info+'</div>');
  }
  function scroll_top(){
        $("html, body").animate({ scrollTop: 0 }, 120);    
  }
  function check_same_value(){
    var arr = [];
    var commit = true;
    $("input[name='tel']").each(function(){
      var input = $(this)[0].value;
      if(arr.indexOf(input) < 0){
        arr.push(input);
      } else{
      show_alert("#info","输入的手机号码重复！");
      scroll_top();
      commit = false;
      }
    });
    return commit;
  }
  function add_span(node, info){
    $(node).after('<span class=\"help-inline\">'+info+'</span>');
  }
  function check_pass_value(){
    var commit = true;
    var old_pass = $("input[name='old_pass']")[0].value;
    var new_pass = $("input[name='new_pass']")[0].value;
    var re_new_pass = $("input[name='re_new_pass']")[0].value;
    if(!old_pass || !new_pass || !re_new_pass){
      add_span("#old_pass", "输入为空！");
      commit = false;
      return;
    }
    if(old_pass.length < 6 || new_pass.length < 6 || re_new_pass.length < 6){
      show_alert("#change_pass_form", "输入密码长度少于6位");
      commit = false;
      return;
    }
    if(new_pass != re_new_pass){
      show_alert("#change_pass_form", "两次密码输入不一致！");
      commit = false;
      return;
    }
    return commit;
  }
  function post_pass(old_pass, new_pass, re_new_pass){
    if(stat !== "ready") return;
    $.ajax({
      type:"POST",
      url: "/user/resetpass.do",
      dataType: "JSON",
      cache: false,
      timeout: false,
      data:{old_pass:old_pass, new_pass:new_pass,re_new_pass:re_new_pass, _csrf:_csrf},
      beforeSend: function () {
        stat = "pending";
      },
      success: function(resq){
        stat = "ready";
        if(!resq || !resq.stat || resq.stat !== 1){
          show_info("#change_pass_form", "更改密码错误, 请刷新重试！");
          return;
        }
        show_info("#change_pass_form", "修改密码成功");
        $("input[name='old_pass']")[0].value = '';
        $("input[name='new_pass']")[0].value = '';
        $("input[name='re_new_pass']")[0].value = '';
        return;
      },
      error: function(){
        stat = "ready";
        show_alert("#info", "更改密码错误, 请刷新重试！");
        scroll_top();
        return;
      }
    });
  }
  function change_contact_state(hidden){
    if(stat !== "ready") return;
    $.ajax({
      type : "POST",
      url : "/user/hidden.do",
      dataType : "JSON",
      cache : false,
      timeout : false,
      data : {hidden :hidden, _csrf : _csrf},
      beforeSend : function(){
        stat = "pending";
      },
      success : function(resq){
        alert(resq);
        return;
      },
      error : function(){
        return;
      }
    });
  }
  function hidden_contact(){
    change_contact_state(true);
  }
  function public_contact(){
    change_contact_state(false);
  }
  $("#setting_form").submit(function(){
    return check_same_value();
  });
  $("#change_pass_form").submit(function(){
    if(check_pass_value()){
      post_pass($("input[name='old_pass']")[0].value,$("input[name='new_pass']")[0].value,$("input[name='re_new_pass']")[0].value);
    }
    return false;
  });
</script>