<h1>编辑</h1>
<form action="/update.do" method="POST">
  <div class="control-group">
    <label>尊姓大名</label>
    <input name="name" type="text" class="span3" placeholder="尊姓大名" value="<%- data.name %>" />
    <span class="help-block">请填写中文全称，不要用火星文</span>
  </div>
  <div class="control-group">
    <label>学号</label>
    <input type="text" class="span3" placeholder="学号" value="<%- data.id %>" disabled="disabled" />
    <span class="help-block"></span>
  </div>
  <div class="control-group">
    <label>电话号码</label>
   <ul class="unstyled" name="tel">
    <%for(var i = 0 , l = data.tel.length; i < l; i++){%>
      <li>
        <input name="tel" type="text" class="span3" placeholder="电话号码" value="<%- data.tel[i][0] %>"onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" />    
      </li>
    <%}%>
    </ul> 
    <button class="btn btn-info" type="button" onclick="addTelRow();">添加</button>
    <span class="help-block"></span>
  </div>
  <div class="control-group">
    <label>微博</label>
    <input name="weibo" type="text" class="span3" placeholder="微博" value="<%- data.weibo %>" />
    <span class="help-block">没有可不填，如果有，请直接填微博名</span>
  </div>
  <div class="control-group">
    <label>目前所在城市</label>
    <input name="location" type="text" class="span3" placeholder="目前所在城市" value="<%- data.location %>" />
    <span class="help-block">可不填，但是建议填，方便蹭饭</span>
  </div>
  <input type="hidden" name="id" value="<%- data.id %>" />
  <input type="hidden" name="_csrf" value="<%- _csrf %>" />
  <input type="submit" class="btn btn-success" value="提交" />
  <a href="/">取消</a>
</form>
<script type="text/javascript">
  function addTelRow(){
    var ul = document.getElementsByClassName('unstyled')[0];
    var li = document.createElement('li');
    li.innerHTML = '<input name=\'tel\' type=\"text\" class=\"span3\" placeholder=\"电话号码\" onkeyup=\"this.value=this.value.replace(/[^\\d]/,\'\')\" />';
    ul.appendChild(li);
  }
  function check(){
    var arr = [];
    var commit = true;
    $("input[name='tel']").each(function(){
      var input = $(this)[0].value;
      if(arr.indexOf(input) < 0){
        arr.push(input);
      } else{
        alert('输入的电话重复');
        commit = false;
      }
    });
    return commit;
  }
  $("form").submit(function(){
    return check();;
  });
</script>